<link href="public/css/:bootstrap.min.css" rel="stylesheet">
<link href="public/css/:bootstrap.css" rel="stylesheet">
<link href="public/css/:shop-item.css" rel="stylesheet">
<nav class="navbar navbar-default navbar-fixed-top">
<div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">WEBSHOP</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><a href="#"> Shop </a></li>
      <li><a href="/login">Login</a></li>
      <li>
      <form for="usersearch" id="usersearch" name="usersearch" class="navbar-form" role="search" action="/results/:1">
        <div class="input-group">
          <input type="text" class="form-control" id="usersearch" name="usersearch" placeholder="Search" name="q">
           <div class="input-group-btn">
            <button class="btn btn-default" type="submit" formmethod="post"><i class="glyphicon glyphicon-search"></i></button>
          </div>
        </div>
    </form>
  </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li> <a href="/logout"> Logout </a> </li>

      <li class="dropdown">
        <a href="/cart" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-shopping-cart"></span> 7 - Items<span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-cart" role="menu">
            <li>
                <span class="item">
                  <span class="item-left">
                      <img src="http://lorempixel.com/50/50/" alt="" />
                      <span class="item-info">
                          <span>Item name</span>
                          <span>23$</span>
                      </span>
                  </span>
                  <span class="item-right">
                      <button class="btn btn-xs btn-danger pull-right">x</button>
                  </span>
              </span>
            </li>
            <li>
                <span class="item">
                  <span class="item-left">
                      <img src="http://lorempixel.com/50/50/" alt="" />
                      <span class="item-info">
                          <span>Item name</span>
                          <span>23$</span>
                      </span>
                  </span>
                  <span class="item-right">
                      <button class="btn btn-xs btn-danger pull-right">x</button>
                  </span>
              </span>
            </li>
            <li>
                <span class="item">
                  <span class="item-left">
                      <img src="http://lorempixel.com/50/50/" alt="" />
                      <span class="item-info">
                          <span>Item name</span>
                          <span>23$</span>
                      </span>
                  </span>
                  <span class="item-right">
                      <button class="btn btn-xs btn-danger pull-right">x</button>
                  </span>
              </span>
            </li>
            <li>
                <span class="item">
                  <span class="item-left">
                      <img src="http://lorempixel.com/50/50/" alt="" />
                      <span class="item-info">
                          <span>Item name</span>
                          <span>23$</span>
                      </span>
                  </span>
                  <span class="item-right">
                      <button class="btn btn-xs btn-danger pull-right">x</button>
                  </span>
              </span>
            </li>
            <li class="divider"></li>
            <li><a class="text-center" href="">View Cart</a></li>
        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>

<div class="container">
    <div class='row'>
        <div class='col-md-4'></div>
        <div class='col-md-4'>
          <script src='https://js.stripe.com/v2/' type='text/javascript'></script>
          <form accept-charset="UTF-8" action="/checkout" class="require-validation" data-cc-on-file="false"  id="payment-form" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓" /><input name="_method" type="hidden" value="PUT" /><input name="authenticity_token" type="hidden" value="qLZ9cScer7ZxqulsUWazw4x3cSEzv899SP/7ThPCOV8=" /></div>
            <div class='form-row'>
              <div class='col-xs-12 form-group required'>
                <label class='control-label'>Name on Card</label>
                <input class='form-control' size='4' type='text' id="nameoncard" name="nameoncard">
              </div>
            </div>
            <div class='form-row'>
              <div class='col-xs-12 form-group card required'>
                <label class='control-label'>Card Number</label>
                <input autocomplete='off' class='form-control card-number' size='20' type='text' id="cardnumber" name="cardnumber">
              </div>
            </div>
            <div class='form-row'>
              <div class='col-xs-4 form-group expiration required'>
                <label class='control-label'>Expiration</label>
                <input class='form-control card-expiry-month' placeholder='MM' size='2' type='text' id="expirationmonth" name="expirationmonth">
              </div>
              <div class='col-xs-4 form-group expiration required'>
                <label class='control-label'> </label>
                <input class='form-control card-expiry-year' placeholder='YYYY' size='4' type='text' id="expirationyear" name="expirationyear">
              </div>
            </div>
            <div class='form-row'>
              <div class='col-md-12'>
                <div class='form-control total btn btn-info'>
                  Total:
                  <span class='amount'>${{.}}</span>
                </div>
              </div>
            </div>
            <div class='form-row'>
              <div class='col-md-12 form-group'>
                <button class='form-control btn btn-primary submit-button' style="margin-top:10px">Pay »</button>
              </div>
            </div>
            <div class='form-row'>
              <div class='col-md-12 error form-group hide'>
                <div class='alert-danger alert'>
                  Please correct the errors and try again.
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class='col-md-4'></div>
    </div>
</div>
