<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href="public/css/:bootstrap.min.css" rel="stylesheet">
<link href="public/css/:bootstrap.css" rel="stylesheet">
<link href="public/css/:cart.css" rel="stylesheet">
<link href="public/css/:nav.css" rel="stylesheet">
<link href="public/css/:shop-item.css" rel="stylesheet">

{{if .max}}
<script type="text/javascript"> alert("Cart contains maximum of 5 items");

</script>
{{end}}


 <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js'></script>
 <nav class="navbar navbar-default navbar-fixed-top">
 <div class="container-fluid">
   <!-- Brand and toggle get grouped for better mobile display -->
   <div class="navbar-header">
     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
       <span class="sr-only">Toggle navigation</span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </button>
     <a class="navbar-brand" href="/">WEBSHOP</a>
   </div>

   <!-- Collect the nav links, forms, and other content for toggling -->
   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     <ul class="nav navbar-nav">
       <li><a href="#"> Shop </a></li>
       <li><a href="/login">Login</a></li>
       <li>
       <form for="usersearch" id="usersearch" name="usersearch" class="navbar-form" role="search" action="/results/:1">
         <div class="input-group">
           <input type="text" class="form-control" id="usersearch" name="usersearch" placeholder="Search" name="q">
            <div class="input-group-btn">
             <button class="btn btn-default" type="submit" formmethod="post"><i class="glyphicon glyphicon-search"></i></button>
           </div>
         </div>
     </form>
   </li>
     </ul>
     <ul class="nav navbar-nav navbar-right">
       <li> <a href="/logout"> Logout </a> </li>

       <li class="dropdown">
         <a href="/cart" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-shopping-cart"></span> 7 - Items<span class="caret"></span></a>
         <ul class="dropdown-menu dropdown-cart" role="menu">
             <li>
                 <span class="item">
                   <span class="item-left">
                       <img src="http://lorempixel.com/50/50/" alt="" />
                       <span class="item-info">
                           <span>Item name</span>
                           <span>23$</span>
                       </span>
                   </span>
                   <span class="item-right">
                       <button class="btn btn-xs btn-danger pull-right">x</button>
                   </span>
               </span>
             </li>
             <li>
                 <span class="item">
                   <span class="item-left">
                       <img src="http://lorempixel.com/50/50/" alt="" />
                       <span class="item-info">
                           <span>Item name</span>
                           <span>23$</span>
                       </span>
                   </span>
                   <span class="item-right">
                       <button class="btn btn-xs btn-danger pull-right">x</button>
                   </span>
               </span>
             </li>
             <li>
                 <span class="item">
                   <span class="item-left">
                       <img src="http://lorempixel.com/50/50/" alt="" />
                       <span class="item-info">
                           <span>Item name</span>
                           <span>23$</span>
                       </span>
                   </span>
                   <span class="item-right">
                       <button class="btn btn-xs btn-danger pull-right">x</button>
                   </span>
               </span>
             </li>
             <li>
                 <span class="item">
                   <span class="item-left">
                       <img src="http://lorempixel.com/50/50/" alt="" />
                       <span class="item-info">
                           <span>Item name</span>
                           <span>23$</span>
                       </span>
                   </span>
                   <span class="item-right">
                       <button class="btn btn-xs btn-danger pull-right">x</button>
                   </span>
               </span>
             </li>
             <li class="divider"></li>
             <li><a class="text-center" href="">View Cart</a></li>
         </ul>
       </li>
     </ul>
   </div><!-- /.navbar-collapse -->
 </div><!-- /.container-fluid -->
 </nav>

<div class="container">
	<table id="cart" class="table table-hover table-condensed" style="background-color:white">
    				<thead>
						<tr>
							<th style="width:50%"> </th>
							<th style="width:10%">Price</th>
						<!--	<th style="width:8%">Quantity</th> -->
							<th style="width:22%" class="text-center">Subtotal</th>
							<th style="width:10%"></th>
						</tr>
					</thead>
					<tbody>
						{{if .item0}}
						<tr>
							<td data-th="Product">
								<div class="row">
									<div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..." class="img-responsive"/></div>
									<div class="col-sm-10">
										<h4 class="nomargin">{{.item0.Title}}</h4>
										<p>{{.item0.Description}}</p>
									</div>
								</div>
							</td>
							<td data-th="Price">{{.item0.Price}}</td>
						<!--	<td data-th="Quantity">
								<input type="number" class="form-control text-center" value="1">
							</td> -->
							<td data-th="Subtotal" class="text-center">{{.item0.Price}}</td>
							<td class="actions" data-th="">
								<button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>
								<button id="ajax_button1" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
							</td>
						</tr>
						<script>
						 $(document).ready(function () {
									 $('#ajax_button1').click(function () {
											 $.ajax({
												 url: 'deletefromcart',
												 type: 'POST',
												 data : { ajax_post_data: '{{.item0.Id}}'},
											 });
										});
							});
							</script>`
						{{else}}
						<script> </script>
						   <h3> No items in cart</h3>
						{{end}}

						{{if .item1}}
						<tr>
							<td data-th="Product">
								<div class="row">
									<div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..." class="img-responsive"/></div>
									<div class="col-sm-10">
										<h4 class="nomargin">{{.item1.Title}}</h4>
										<p>{{.item1.Description}}</p>
									</div>
								</div>
							</td>
							<td data-th="Price">{{.item1.Price}}</td>
						<!--	<td data-th="Quantity">
								<input type="number" class="form-control text-center" value="1">
							</td> -->
							<td data-th="Subtotal" class="text-center">{{.item1.Price}}</td>
							<td class="actions" data-th="">
								<button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>
									<button id="ajax_button2" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
								</td>
						</tr>
						<script>
						 $(document).ready(function () {
									 $('#ajax_button2').click(function () {
											 $.ajax({
												 url: 'deletefromcart',
												 type: 'POST',
												 data : { ajax_post_data: '{{.item1.Id}}'},
											 });
										});
							});
							</script>`
						{{end}}

						{{if .item2}}
						<tr>
							<td data-th="Product">
								<div class="row">
									<div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..." class="img-responsive"/></div>
									<div class="col-sm-10">
										<h4 class="nomargin">{{.item2.Title}}</h4>
										<p>{{.item2.Description}}</p>
									</div>
								</div>
							</td>
							<td data-th="Price">{{.item2.Price}}</td>
						<!--	<td data-th="Quantity">
								<input type="number" class="form-control text-center" value="1">
							</td> -->
							<td data-th="Subtotal" class="text-center">{{.item2.Price}}</td>
							<td class="actions" data-th="">
								<button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>
									<button id="ajax_button3" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
									</td>
						</tr>
						<script>
						 $(document).ready(function () {
									 $('#ajax_button3').click(function () {
											 $.ajax({
												 url: 'deletefromcart',
												 type: 'POST',
												 data : { ajax_post_data: '{{.item2.Id}}'},
											 });
										});
							});
							</script>`
						{{end}}

						{{if .item3}}
						<tr>
							<td data-th="Product">
								<div class="row">
									<div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..." class="img-responsive"/></div>
									<div class="col-sm-10">
										<h4 class="nomargin">{{.item3.Title}}</h4>
										<p>{{.item3.Description}}</p>
									</div>
								</div>
							</td>
							<td data-th="Price">{{.item3.Price}}</td>
						<!--	<td data-th="Quantity">
								<input type="number" class="form-control text-center" value="1">
							</td> -->
							<td data-th="Subtotal" class="text-center">{{.item3.Price}}</td>
							<td class="actions" data-th="">
									<button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>
								<button id="ajax_button4" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
							</td>
						</tr>
						<script>
						 $(document).ready(function () {
									 $('#ajax_button4').click(function () {
											 $.ajax({
												 url: 'deletefromcart',
												 type: 'POST',
												 data : { ajax_post_data: '{{.item3.Id}}'},
											 });
										});
							});
							</script>`
						{{end}}

						{{if .item4}}
						<tr>
							<td data-th="Product">
								<div class="row">
									<div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..." class="img-responsive"/></div>
									<div class="col-sm-10">
										<h4 class="nomargin">{{.item4.Title}}</h4>
										<p>{{.item4.Description}}</p>
									</div>
								</div>
							</td>
						<!--	<td data-th="Price">{{.item4.Price}}</td>
							<td data-th="Quantity">
								<input type="number" class="form-control text-center" value="1">
							</td> -->
							<td data-th="Subtotal" class="text-center">{{.item4.Price}}</td>
							<td class="actions" data-th="">
								<button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>
									<button id="ajax_button5" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
                 </td>
						</tr>
						<script>
						 $(document).ready(function () {
									 $('#ajax_button5').click(function () {
											 $.ajax({
												 url: 'deletefromcart',
												 type: 'POST',
												 data : { ajax_post_data: '{{.item4.Id}}'},
											 });
										});
							});
							</script>`
						{{end}}


					</tbody>
					<tfoot>

						<tr class="visible-xs">
							<td class="text-center"><strong>Total {{if .total}}{{.total}}{{else}}0{{end}}</strong></td>
						</tr>
						<tr>
							<td><a href="/" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
							<td colspan="2" class="hidden-xs"></td>
							<td class="hidden-xs text-center"><strong>Total {{if .total}}${{.total}}{{else}}$0{{end}}</strong></td>
							<td><a href="/buy" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
						</tr>
					</tfoot>
				</table>
</div>
