<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Webshop!!!!</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="css/nav.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/shop-item.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">WEBSHOP</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#"> Shop <span class="sr-only">(current)</span></a></li>
          <li><a href="/login">Login</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-shopping-cart"></span> 7 - Items<span class="caret"></span></a>
            <ul class="dropdown-menu dropdown-cart" role="menu">
                <li>
                    <span class="item">
                      <span class="item-left">
                          <img src="http://lorempixel.com/50/50/" alt="" />
                          <span class="item-info">
                              <span>Item name</span>
                              <span>23$</span>
                          </span>
                      </span>
                      <span class="item-right">
                          <button class="btn btn-xs btn-danger pull-right">x</button>
                      </span>
                  </span>
                </li>
                <li>
                    <span class="item">
                      <span class="item-left">
                          <img src="http://lorempixel.com/50/50/" alt="" />
                          <span class="item-info">
                              <span>Item name</span>
                              <span>23$</span>
                          </span>
                      </span>
                      <span class="item-right">
                          <button class="btn btn-xs btn-danger pull-right">x</button>
                      </span>
                  </span>
                </li>
                <li>
                    <span class="item">
                      <span class="item-left">
                          <img src="http://lorempixel.com/50/50/" alt="" />
                          <span class="item-info">
                              <span>Item name</span>
                              <span>23$</span>
                          </span>
                      </span>
                      <span class="item-right">
                          <button class="btn btn-xs btn-danger pull-right">x</button>
                      </span>
                  </span>
                </li>
                <li>
                    <span class="item">
                      <span class="item-left">
                          <img src="http://lorempixel.com/50/50/" alt="" />
                          <span class="item-info">
                              <span>Item name</span>
                              <span>23$</span>
                          </span>
                      </span>
                      <span class="item-right">
                          <button class="btn btn-xs btn-danger pull-right">x</button>
                      </span>
                  </span>
                </li>
                <li class="divider"></li>
                <li><a class="text-center" href="">View Cart</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

    <!-- Page Content -->

    <div class="col-md-9">


        <div class="thumbnail">
            <img class="img-responsive" src=https://raw.githubusercontent.com/dnamenon/webshop/master/{{.Image}} alt="">
            <div class="caption-full">

                <h4 class="pull-right">{{ .Price }}</h4>
                <h4><a href=/item/:{{.Id}}>{{ .Title}}</a>
                </h4>

                <p>{{ .Description}}</p>
            </div>

        </div>


    </div>



</div>


<!-- /.container -->

<div class="container">

<hr>

<!-- Footer -->
<footer>
    <div class="row">
        <div class="col-lg-12">
            <p>Copyright &copy; WEBSHOP 2015</p>
        </div>
    </div>
</footer>

</div>
    <!-- /.container -->




    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

<!--  <script src="golang" charset="utf-8"></script> -->

</body>

</html>
